body{
  background-color: #009688;
}
.container .content
{
  max-width: 1000px;
  text-align: center;
  display: block;
  margin: auto;
}

table{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

thead{
  background-color: #cccc;

}

td, th{
  border: 1px solid #cccc;
  padding: 10px;
}

th{
  font-weight: bold;
  text-transform: uppercase;
}

tr:nth-child(even){
  background-color: #cccc;
}

tr:hover {
  background-color: black;
  color: white;
}

.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
  padding: 15px 0;
  background-color: none;
}

.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.navbar .logo a span{
  color: #EFD033;
  font-size: 30px;
  transition: all 0.3s ease;
}

.navbar .menu li{
  list-style: none;
  display: inline-block;
}
.navbar .menu li a{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover{
  color: #EFD033;
}